@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: salmon;
}

body.modal-open {
  overflow: hidden;
}

.cardListOuter {
  margin: auto;
  width: 50%;
  justify-content: center;
  background-color: pink;
}

.cardList {
  margin: auto;
  background-color: aqua;
}

.cardOuter {
  background-color: red;
}

p {
  margin-top: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

button {
  background: #e85757;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
  width: 120px;
  color: #fff;
}

.containerCardList {
  margin-right: 15vh;
  margin-left: 5vw;
  width: 65vw;
  border: orange 1px solid;
}

/* NV - REPLACED BY TW COMPONENT */
.card {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;

  width: 300px;
  height: 400px;
  box-shadow: 0 1px 5px #00000099;

  border-radius: 10px;
  /* background-image: url(https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-size: cover; */

  position: relative;
  display: inline-block;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

/* NV - REPLACED BY TW COMPONENT */
.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

/* NV - REPLACED BY TW COMPONENT */
.cardContainer {
  perspective: 1500px;
  max-width: 50%;
  display: inline-block;
  padding: 1%;
}

.deckSticky {
  position: relative;

  float: right;
  margin-right: 2%;

  border: 10px solid rgb(127, 90, 58);
  border-style: outset;
  border-radius: 5px;

  width: 22vw;
  height: 90vh;
  z-index: 5;
  /* width: 22vw;
  height: 90vh; */
  min-width: 200px;

  /* background-image: url("./../public/TESTER.png");
   */
  background-color: rgb(92, 64, 51);
  background-repeat: no-repeat;
  background-size: cover;
}

.deck {
  height: 100%;
}

.deckHeader {
  /* height: 10vh; */
  position: relative;
  border: 6px solid rgb(224, 180, 34);
  border-style: inset;
  border-radius: 5px;
  margin-top: -2%;
  background-color: rgb(127, 90, 58);
  background-image: linear-gradient(
    to bottom right,
    rgb(121, 66, 18),
    rgb(184, 146, 114)
  );
  z-index: 3;
}

.containerDeckCounter {
  position: relative;
  display: flex;
  min-width: 15%;
  max-width: 100%;
  margin-left: 1vw;
  margin-top: 2vh;
}

.deckCounter {
  position: relative;

  color: rgb(252, 209, 68);
  font-family: "AclonicaRegular";
  font-size: 22px;
  display: flex;

  min-width: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.deckCards {
  /* border: 10px solid rgb(127, 90, 58);
  border-style: outset;
  border-radius: 5px;
  margin-top: -5%;
  z-index: -1;

  height: 80vh; */
  margin-top: -5%;
  border-top: 3vh solid rgb(127, 90, 58);
  overflow: auto;
  height: 89%;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.deckCard {
  display: flex;
  /* justify-content:; */
  width: 96%;
  justify-content: center;
  background-color: rgb(215, 167, 67);
  border: 3px solid rgb(42, 40, 40);
  border-radius: 5px;
  border-style: outset;
  margin: auto;
  margin-top: 1%;
  position: relative;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.deckCardName {
  font-family: "AclonicaRegular";
  color: black;
  text-shadow: 0px 0px 4px white;
  font-size: 1.1vw;
  font-weight: bold;
  width: 13vw;
  /* position: relative; */
  top: 50%;
  -webkit-transform: translateY(32%);
  -ms-transform: translateY(32%);
  transform: translateY(32%);
}

.costIcon {
  max-width: 7vw;
  max-height: 7vh;
  /* display: inline-block; */
  padding: 1vh;
  float: left;
}

@font-face {
  font-family: "AclonicaRegular";
  src: local("AclonicaRegular"),
    url("./../app/fonts/Aclonica-Regular.ttf") format("truetype");
}

.epicTag {
  font-family: "AclonicaRegular";
  text-shadow: 0px 0px 4px white;
  font-size: 1.5vw;
  /* display: flex; */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cardCount {
  font-family: "AclonicaRegular";
  color: black;
  text-shadow: 2px 2px 10px whitesmoke;
  font-size: 2vw;
  font-weight: bold;
  float: right;
  top: 50%;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}

.spacing {
  width: 1.5vw;
}

.challengerName {
  font-family: "AclonicaRegular";
  color: black;
  text-shadow: 2px 2px 10px whitesmoke;
  font-size: 1.35vw;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 1%;
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.countAndInfoPopUpContainer {
  border: 2px solid rgb(94, 69, 37);
  border-radius: 10px;
  background-color: rgb(255, 217, 0, 0.8);
  position: absolute;
  width: 30%;
  float: right;
  z-index: 9;
  margin-left: 42%;
  height: 100%;
  display: flex;
}

.infoButt {
  font-family: "AclonicaRegular";
  font-size: 1.35vw;
  font-weight: bold;
  color: black;
  border: 1px outset blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.minusButt {
  font-family: "AclonicaRegular";
  font-size: 1.35vw;
  font-weight: bold;
  color: black;
  border: 1px outset blue;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.plusButt {
  font-family: "AclonicaRegular";
  font-size: 1.35vw;
  font-weight: bold;
  color: black;
  border: 1px outset blue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.infoButt:hover,
.minusButt:hover,
.plusButt:hover {
  background-color: darkgreen;
  color: yellow;
}

/* NV - REPLCED BY TW STYLES */
.searchContainer {
  position: sticky;
  width: 100%;
  margin: auto;
  border: 2px solid red;
  background-color: rgb(70, 48, 38);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formRow {
  border-top: 1px solid #ddd;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
  padding: 8px 0 8px 8px;
}

.inputGroup {
  display: flex;
  flex-grow: 1;
}

.cardSearchLabel {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
  margin-right: 8px;
}

.cardNameInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  min-width: 0;
  padding: 1px 2px;
  color: black;
}

.cardTypeInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 70%;
  padding: 1px 2px;
  color: black;
}

.cardEpicInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 30%;
  padding: 1px 2px;
  color: black;
}

.cardPowerInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 33.3333%;
  padding: 1px 2px;
  color: black;
}

.cardGoalInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 33.3333%;
  padding: 1px 2px;
  color: black;
}

.cardCostInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 33.3333%;
  padding: 1px 2px;
  color: black;
}

.cardEffectInput {
  border: 1px solid #ddd;
  flex-grow: 1;
  margin-right: 8px;
  width: 33.3333%;
  padding: 1px 2px;
  color: black;
}

.submitCardSearch {
  background-color: #04aa6d;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  height: 64px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-decoration: none;
  width: 99%;
}
